{% extends "foundation/base.html" %}
{% block base_body %}

    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
          <h1>All Stories</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
          {% for newsitem in newsitems %}
            <li>
              <strong><a href="{{ newsitem.link }}" target="_blank">{{ newsitem.title }}</a></strong>
              <p><em>{{ newsitem.source }} - {{ newsitem.date }}</em></br>
                <small>{{ newsitem.newscategory }}</small></p>
              <p>{{ newsitem.content_snippet }}</p>
              <hr />
            </li>
          {% endfor %}
          </ul>
      </div>
    </div>

{% endblock base_body %}
